@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-Black.eot');
    src: url('../fonts/Roboto/RobotoCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-Medium.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-Medium.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-ExtraBold.eot');
    src: url('../fonts/Roboto/RobotoCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-ExtraBold.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-ExtraBold.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-Black.eot');
    src: url('../fonts/Roboto/RobotoCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-Black.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-Black.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-Light.eot');
    src: url('../fonts/Roboto/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-Light.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-Light.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-Italic.eot');
    src: url('../fonts/Roboto/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-Italic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-Italic.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-ExtraLightItalic.eot');
    src: url('../fonts/Roboto/RobotoCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-BoldItalic.eot');
    src: url('../fonts/Roboto/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-BoldItalic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-BoldItalic.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-ExtraLight.eot');
    src: url('../fonts/Roboto/RobotoCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-ExtraLight.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-ExtraLight.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-BlackItalic.eot');
    src: url('../fonts/Roboto/RobotoCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-BlackItalic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-BlackItalic.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-Bold.eot');
    src: url('../fonts/Roboto/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-Bold.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-LightItalic.eot');
    src: url('../fonts/Roboto/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-LightItalic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-LightItalic.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-ExtraBoldItalic.eot');
    src: url('../fonts/Roboto/RobotoCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-Regular.eot');
    src: url('../fonts/Roboto/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-Regular.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-SemiBold.eot');
    src: url('../fonts/Roboto/RobotoCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-SemiBold.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-SemiBold.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../fonts/Roboto/RobotoSemiCondensed-ExtraBold.eot');
    src: url('../fonts/Roboto/RobotoSemiCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoSemiCondensed-ExtraBold.woff') format('woff'),
        url('../fonts/Roboto/RobotoSemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-Thin.eot');
    src: url('../fonts/Roboto/RobotoCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-Thin.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-Thin.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../fonts/Roboto/RobotoSemiCondensed-BoldItalic.eot');
    src: url('../fonts/Roboto/RobotoSemiCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoSemiCondensed-BoldItalic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoSemiCondensed-BoldItalic.woff') format('woff'),
        url('../fonts/Roboto/RobotoSemiCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../fonts/Roboto/RobotoSemiCondensed-Bold.eot');
    src: url('../fonts/Roboto/RobotoSemiCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoSemiCondensed-Bold.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoSemiCondensed-Bold.woff') format('woff'),
        url('../fonts/Roboto/RobotoSemiCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../fonts/Roboto/RobotoSemiCondensed-ExtraBoldItalic.eot');
    src: url('../fonts/Roboto/RobotoSemiCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoSemiCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoSemiCondensed-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Roboto/RobotoSemiCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../fonts/Roboto/RobotoSemiCondensed-Italic.eot');
    src: url('../fonts/Roboto/RobotoSemiCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoSemiCondensed-Italic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoSemiCondensed-Italic.woff') format('woff'),
        url('../fonts/Roboto/RobotoSemiCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../fonts/Roboto/RobotoSemiCondensed-LightItalic.eot');
    src: url('../fonts/Roboto/RobotoSemiCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoSemiCondensed-LightItalic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoSemiCondensed-LightItalic.woff') format('woff'),
        url('../fonts/Roboto/RobotoSemiCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../fonts/Roboto/RobotoSemiCondensed-ExtraLight.eot');
    src: url('../fonts/Roboto/RobotoSemiCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoSemiCondensed-ExtraLight.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoSemiCondensed-ExtraLight.woff') format('woff'),
        url('../fonts/Roboto/RobotoSemiCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-ThinItalic.eot');
    src: url('../fonts/Roboto/RobotoCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-ThinItalic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-ThinItalic.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../fonts/Roboto/RobotoSemiCondensed-ExtraLightItalic.eot');
    src: url('../fonts/Roboto/RobotoSemiCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoSemiCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoSemiCondensed-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Roboto/RobotoSemiCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-MediumItalic.eot');
    src: url('../fonts/Roboto/RobotoCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-MediumItalic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-MediumItalic.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../fonts/Roboto/RobotoSemiCondensed-Light.eot');
    src: url('../fonts/Roboto/RobotoSemiCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoSemiCondensed-Light.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoSemiCondensed-Light.woff') format('woff'),
        url('../fonts/Roboto/RobotoSemiCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../fonts/Roboto/RobotoSemiCondensed-Black.eot');
    src: url('../fonts/Roboto/RobotoSemiCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoSemiCondensed-Black.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoSemiCondensed-Black.woff') format('woff'),
        url('../fonts/Roboto/RobotoSemiCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../fonts/Roboto/RobotoSemiCondensed-Medium.eot');
    src: url('../fonts/Roboto/RobotoSemiCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoSemiCondensed-Medium.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoSemiCondensed-Medium.woff') format('woff'),
        url('../fonts/Roboto/RobotoSemiCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../fonts/Roboto/RobotoSemiCondensed-BlackItalic.eot');
    src: url('../fonts/Roboto/RobotoSemiCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoSemiCondensed-BlackItalic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoSemiCondensed-BlackItalic.woff') format('woff'),
        url('../fonts/Roboto/RobotoSemiCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-SemiBoldItalic.eot');
    src: url('../fonts/Roboto/RobotoCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* Core styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    transition: all 0.3s ease-in-out;
}

.button {
    font-family: inherit;
    transition: all 0.3s ease-in-out;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.to-uppercase {
    text-transform: uppercase
}

.clearfix {
    clear: both;
}

.section-subtitle {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 0.625rem;
    color: #797979;
    text-transform: uppercase;
}

.section-title {
    margin-top: 0.32rem;
    font-size: 2.62rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #05364d;
}

.button {
    border: none;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    background-size: 200% auto;
    color: #ffffff;
    font-weight: 500;
    font-size: 0.87rem;
    padding: 1.25rem 2.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-position: right center;
    color: #fff;
}

.blur-line {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 0.32rem;
    width: 80px;
    height: 4px; 
    background: rgba(237, 35, 159, 0.6);
    filter: blur(4px);
    border-radius: 4px;
}
/* Main header styles */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
}

.main-header .container {
    display: flex;
    align-items: center;
}

.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img {
    width: 64px;
}

.main-navigation__item {
    display: inline-block;
    padding: 0.625rem;
}

.main-navigation__item a {
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 550;
}

.main-navigation__item a:hover {
    color: #efb6df;
}

.main-navigation__item.active a {
    color: #efb6df;
}

/* Footer section styles */
.footer {
    padding: 100px 0;
    /* margin-top: 50px; */
    background-color: #021017;
    text-align: center;
}

.footer__brand img {
    width: 96px;
    margin: 0;
    display: block;
}

.footer__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.footer__navigation-items {
    margin-bottom: 50px;
}

.footer__navigation-item {
    display: inline-block;
    padding: 0 10px;
}

.footer__navigation-item a {
    color: white;
    text-decoration: none;
}

.footer__socials {
    list-style: none;
    display: inline-block;
}

.footer__social {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #ffffff;
    border-radius: 36px;
    color: #05364d;
    font-size: 1rem;
    margin-right: 12px;
}

.footer__social a {
    color: #021017;
}

.footer__social:hover {
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}

.footer__social:hover i {
    color: white;
}

.footer__text {
    color: grey;
}

@media only screen and (max-width: 991px) {
    .container {
        width: 90%;
    }

    /* Navigaton menu */
    .main-navigation {
        display: none;
    }

    /* Footer */
    .footer__navigation {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 92%;
    }
}
    